@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

nav {
    font-family: 'Bruno Ace SC', cursiv;
}

li {
    border: 3px solid;
    border-radius: 25px 15px;
    border-top: none;
    border-bottom: none;
}

li:hover {
    font-weight: bolder;
    font-size: x-large;
}

li a {
    text-decoration: none;
}
body {
    color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto; 
}
#image {
    background-image: url('./images/shutterstock_728178127-500px.jpg');
    background-repeat: no-repeat;
}
.none {
    border: none;
}
#center {
    transform: translateY(-280px); 
}
